<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Comparte tus Fotos | Cilantro</title>
    
        <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("font-awesome/css/font-awesome.css") }}" rel="stylesheet">
    
        <link href="{{ asset("css/animate.css") }}" rel="stylesheet">
        <link href="{{ asset("css/style.css") }}" rel="stylesheet">
        <link href="{{ asset('css/toastr.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/plugins/blueimp/blueimp-gallery.min.css') }}" rel="stylesheet">
    </head>
    
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">John Cilantro</strong>
                                     </span> <span class="text-muted text-xs block">CEO <b class="caret"></b></span> </span> </a>
                                     {{ locale_switcher() }}
                                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                        <li><a href="#">Cerrar sesión</a></li>
                                    </ul>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        <li class="active">
                            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Main view</span></a>
                        </li>
                        <li>
                            <a href="minor.html"><i class="fa fa-th-large"></i> <span class="nav-label">Minor view</span> </a>
                        </li>
                    </ul>
                </div>
            </nav>
        
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a href="#">
                                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="wrapper wrapper-content animated fadeInRight">
                    {# Mensaje Flash #}
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="alert alert-success" role="alert">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    
                    {% block content %}
                        {% include('default/index.html.twig') %}
                    {% endblock %}
                </div>
                <div class="footer">
                    <div class="pull-right">
                        Steleo <strong>Kontos</strong> Cilantro.
                    </div>
                    <div>
                        <strong>Copyright</strong> Antonio JiVa &copy; 2016
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Mainly scripts -->
        <script src="{{ asset("js/jquery-2.1.1.js") }}"></script>
        <script src="{{ asset("js/bootstrap.min.js") }}"></script>
        <script src="{{ asset("js/plugins/metisMenu/jquery.metisMenu.js") }}"></script>
        <script src="{{ asset("js/plugins/slimscroll/jquery.slimscroll.min.js") }}"></script>
        
        <!-- Custom and plugin javascript -->
        <script src="{{ asset("js/inspinia.js") }}"></script>
        <script src="{{ asset("js/plugins/pace/pace.min.js") }}"></script>
        <script src="{{ asset('js/plugins/toastr.min.js') }}"></script>
        <script src="{{ asset('js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
        
        <script>
            $(document).ready(function () {
                {% for type, messages in app.session.flashbag.all() %}
                    {% if type == 'success' %}
                        {% for message in messages %}
                            toastr.success("{{ ("toastr." ~ type ~ "." ~ message)|trans }}");
                        {% endfor %}
                    {% elseif type == 'error' %}
                        {% for message in messages %}
                            toastr.error("{{ ("toastr." ~ type ~ "." ~ message)|trans }}");
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                
                            
                document.getElementById('links').onclick = function (event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement,
                        link = target.src ? target.parentNode : target,
                        options = {index: link, event: event},
                        links = this.getElementsByTagName('a');
                    blueimp.Gallery(links, options);
                };
            });
        </script>
    </body>
</html>